go 1.25.7

use (
	./app
	./binding
	./config
	./errors
	./logging
	./metrics
	./middleware/accesslog
	./middleware/basicauth
	./middleware/bodylimit
	./middleware/compression
	./middleware/cors
	./middleware/methodoverride
	./middleware/ratelimit
	./middleware/recovery
	./middleware/requestid
	./middleware/security
	./middleware/timeout
	./middleware/trailingslash
	./openapi
	./router
	./router/benchmarks
	./tracing
	./validation
)
