go 1.25.5

toolchain go1.25.5

use (
	./app
	./binding
	./config
	./errors
	./logging
	./metrics
	./openapi
	./router
	./router/benchmarks
	./router/middleware/accesslog
	./router/middleware/basicauth
	./router/middleware/bodylimit
	./router/middleware/compression
	./router/middleware/cors
	./router/middleware/methodoverride
	./router/middleware/ratelimit
	./router/middleware/recovery
	./router/middleware/requestid
	./router/middleware/security
	./router/middleware/timeout
	./router/middleware/trailingslash
	./tracing
	./validation
)
